#form{
    padding: 25px;
    float: right;
    border-style: solid;
    border-color: dimgrey;
    border-width: 2px;
    background-color:white;
    
    
}
#groupInput{
    width:600px;
    
}
#submit-restaurant{
    width:100px;
    float:right;
}

#group{
 float: left;
 background-color:white;
 width:444px;
 padding: 20px;
 border-style: solid;
    border-color: dimgrey;
    border-width: 2px;

 
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#restChoice{
    float:left;
    
}
.member-name {
	display: inline-block;
	margin-right: 12px;
}
#groupSearch{
    float:right;
}
#groupInput{
    width:325px;
}
#skyline{
    height:640px;
}
body{
    background-image: url('images/img_7.jpg');
    width:100%;
    
    

    
}
footer{
   
}
#names{
    color: cornflowerblue;
}